@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A new interest-free car loan.</p>
<p>
    <ul>
        <li>It allows a Salesman to produce a payment schedule for the new scheme.</li>
        <li>The seller must enter the price of the vehicle, the amount of the deposit, the delivery date and select among the financing options of 1, 2 or 3 years.</li>
        <li>There is a minimum 15% deposit.  The first month add a £88 arrangement fee, the last a £20 completion fee.</li>
        <li>Payments are due on the first Monday of each month, beginning the month after delivery.</li>
        <li>The system calculates and displays a quote showing a summary of the loan and a payment schedule showing monthly payments with date and an amount due.</li>
    </ul>
</p>
