@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Arnold Clark Automobiles Limited<br />
    454 Hillington Road, Glasgow, G52 4FH<br />
    <abbr title="Phone">P:</abbr>
    0141 648 1088
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dpdroles.arnoldclark@gmail.com">dpdroles.arnoldclark@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dpd.roles@arnoldclark.com">dpd.roles@arnoldclark.com</a>
</address>